/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 80px 30px 50px;
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
}

header .logo {
  width: 15vmax;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  color: #110011;
}

nav ul li a:hover,
nav ul li a.active {
  background: #ddccdd;
  color: #110011;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #01919c, transparent);
  z-index: 10;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

section #slogan {
  position: absolute;
  color: #110011;
  font-size: 7vmax;
  text-align: center;
  font-family: "Rancho", sans-serif;
  line-height: 0.8em;
  white-space: nowrap;
  transform: translateY(-200px);
  margin-left: 10vw;
}

section #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  background: #110011;
  border-radius: 20px;
  transform: translateY(20px);
  transform: translateX(60px);
}
section #btn:hover {
  background: #3d003d;
}

#about {
  background-image: linear-gradient(
    to bottom,
    #01919c,
    #008293,
    #007389,
    #00647d,
    #005671
  );
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: #8b0069;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
/* Responsive */
@media (max-width: 991px) {
  header .menulist {
    opacity: 0;
  }
  nav ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  nav.active ul {
    position: relative;
    top: 50px;
    margin-left: -150px;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  header .menu {
    position: absolute;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("https://raw.githubusercontent.com/EverDuran/KidvsKat-ParallaxScrolling/03e8c69b2e0525a439736a94b434fe505d035506/pag-web/images/lista.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .menu.active {
    background-image: url("https://raw.githubusercontent.com/EverDuran/KidvsKat-ParallaxScrolling/03e8c69b2e0525a439736a94b434fe505d035506/pag-web/images/close.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
